html {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  background-color: rgb(255, 255, 255);
  scroll-behavior: smooth;
}

::selection {
  background-color: rgb(255, 196, 0);
  color: white;
}

body {
  box-sizing: border-box;
  padding: 0.8rem;
}

h1 {
  color: #1f3369;
}

h2 {
  color: #00009c;
}

h3 {
  color: #1873d3;
}

p {
  color: black;
}

a {
  color: rgb(171, 132, 6);
  text-decoration: none;
}

/* Mobile */
@media only screen and (max-width: 767px) {
  .nav-links {
    display: none;
  }

  .nav-bar {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.05rem;
    background-color: rgb(241, 240, 240);
    z-index: 100;
  }

  .nav-icon {
    display: block;
    cursor: pointer;
    font-size: 16px;
    padding: 0.4em;
  }
  .logo {
    width: 10%;
  }

  .logo img {
    width: 13em;
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1f3369;
    font-size: 16px;
    margin-top: 1.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
  }

  .ft-ul li {
    list-style-type: none;
    list-style: none;
    text-align: left;
    margin-bottom: 0.7em;
  }

  .ft-ul li a {
    transform: scale(1);
    text-align: center;
  }

  .ft-ul li a:hover {
    color: white;
    transform: scale(1.05);
  }

  .ft-ul {
    padding-inline-start: 0;
    margin-top: 0.2em;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ft-rw-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .ft-rw-cols {
    justify-content: center;
  }

  .ft-rw-cols h2 {
    color: white;
    margin-bottom: 0;
    font-size: 1.7em;
    text-align: center;
  }

  .nwl-p {
    color: rgba(255, 255, 255, 0.763);
    font-size: 1.2em;
    text-align: center;
  }

  form {
    display: inline-flex;
    gap: 0;
  }

  form input {
    padding: 1em 6em 1em 1em;
    border: none;
    border-top-left-radius: 0.2em;
    border-bottom-left-radius: 0.2em;
  }

  form input:focus {
    border: none;
    outline: none;
    font-size: 1em;
    color: black;
  }

  form button {
    border: none;
    background-color: rgb(255, 196, 0);
    border-top-right-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
  }

  form button:hover {
    cursor: pointer;
  }

  form input::placeholder {
    font-size: 1em;
    text-align: left;
  }

  .ft-rw-copy p {
    color: white;
    font-size: 0.5em;
  }

  .ft-rw-copy{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .nav-bar {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.4rem;
    background-color: rgb(255, 255, 255);
    max-width: 100%;
    min-width: 700px;
    z-index: 100;
  }

  .nav-icon {
    display: none;
  }

  .logo {
    width: 20%;
  }

  .logo img {
    width: 15em;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 13px;
    gap: 2em;
    width: -60%;
    padding: 0.7rem;
  }

  .nav-links a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: bold;
  }

  .nav-links a:hover {
    color: rgb(255, 196, 0);
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1f3369;
    font-size: 16px;
    margin-top: 1.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
  }

  .ft-ul li {
    list-style-type: none;
    list-style: none;
    text-align: left;
    margin-bottom: 0.7em;
  }

  .ft-ul li a {
    transform: scale(1);
  }

  .ft-ul li a:hover {
    color: white;
    transform: scale(1.05);
  }

  .ft-ul {
    padding-inline-start: 0;
    margin-top: 0;
  }

  .ft-rw-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5em;
    padding: 1em;
  }

  .ft-rw-cols {
    justify-content: flex-start;
  }

  .ft-rw-cols h2 {
    color: white;
    margin-bottom: 0;
    font-size: 1.7em;
  }

  .nwl-p {
    color: rgba(255, 255, 255, 0.763);
    font-size: 1.2em;
  }

  form {
    display: inline-flex;
    gap: 0;
    width: 100%;
  }

  form input {
    padding: 1em 6em 1em 1em;
    border: none;
    border-top-left-radius: 0.2em;
    border-bottom-left-radius: 0.2em;
  }

  form input:focus {
    border: none;
    outline: none;
    font-size: 1em;
    color: black;
  }

  form button {
    border: none;
    background-color: rgb(255, 196, 0);
    border-top-right-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
  }

  form button:hover {
    cursor: pointer;
  }

  form input::placeholder {
    font-size: 1em;
    text-align: left;
  }

  .ft-rw-copy p {
    color: white;
  }

  .ft-rw-copy{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }
}

/* Desktop */
@media only screen and (min-width: 1024px) {
  .nav-bar {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.4rem;
    background-color: rgb(255, 255, 255);
    max-width: 100%;
    min-width: 700px;
    z-index: 100;
  }

  .nav-icon {
    display: none;
  }

  .logo {
    width: 20%;
  }

  .logo img {
    width: 15em;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    gap: 2em;
    width: -60%;
    padding: 0.7rem;
  }

  .nav-links a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: bold;
  }

  .nav-links a:hover {
    color: rgb(255, 196, 0);
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1f3369;
    font-size: 16px;
    margin-top: 1.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
  }

  .ft-ul li {
    list-style-type: none;
    list-style: none;
    text-align: left;
    margin-bottom: 0.7em;
  }

  .ft-ul li a {
    transform: scale(1);
  }

  .ft-ul li a:hover {
    color: white;
    transform: scale(1.05);
  }

  .ft-ul {
    padding-inline-start: 0;
    margin-top: 0;
  }

  .ft-rw-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
  }

  .ft-rw-cols {
    justify-content: flex-start;
  }

  .ft-rw-cols h2 {
    color: white;
    margin-bottom: 0;
    font-size: 1.7em;
  }

  .nwl-p {
    color: rgba(255, 255, 255, 0.763);
    font-size: 1.2em;
  }

  form {
    display: inline-flex;
    gap: 0;
    width: 100%;
  }

  form input {
    padding: 1em 6em 1em 1em;
    border: none;
    border-top-left-radius: 0.2em;
    border-bottom-left-radius: 0.2em;
  }

  form input:focus {
    border: none;
    outline: none;
    font-size: 1em;
    color: black;
  }

  form button {
    border: none;
    background-color: rgb(255, 196, 0);
    border-top-right-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
  }

  form button:hover {
    cursor: pointer;
  }

  form input::placeholder {
    font-size: 1em;
    text-align: left;
  }

  .ft-rw-copy p {
    color: white;
  }

  .ft-rw-copy{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }
}