/* Mobile */
@media only screen and (max-width: 767px) {
  /* Hero Section */

  .hero {
    margin-top: -1.5rem;
  }

  .hero-video {
    position: relative;
  }

  video {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: brightness(40%) grayscale(50%);
  }

  .hero-text {
    display: block;
    position: absolute;
    margin: 0 auto;
    left: 10%;
    right: 10%;
    top: 5%;
  }

  .hero-text h1 {
    font-size: 1.3rem;
    color: white;
    text-align: center;
    margin-bottom: 0;
  }

  .hero-text p {
    margin-top: 0;
    font-weight: 700;
    font-size: 0.8rem;
    text-align: center;
    color: #b58133dd;
  }

  .programmes {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    gap: 1.5rem;
  }

  .programe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-size: 16px;
    padding-bottom: 1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    max-width: 586px;
    margin: 0 auto;
  }

  .p-info p {
    color: black;
    text-align: center;
    margin-top: 0;
    font-weight: normal;
    margin-bottom: 0;
    font-size: 0.95rem;
  }

  .p-info {
    font-size: 16px;
    padding: 0.9em;
  }

  .p-title {
    background-color: #b58133dd;
    font-size: 1rem;
    padding: 0.4em;
    border-radius: 0.3em;
    box-shadow: rgba(50, 50, 93, 0.1) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.116) 0px 8px 16px -8px;
  }

  .p-title h2 {
    font-size: 1.15rem;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    color: white;
  }

  a {
    font-size: 0.85rem;
  }

  .short-courses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
    font-size: 16px;
    border-radius: 0.4em;
    background-color: rgb(47, 47, 173);
  }

  .shrt-c-title h2 {
    color: white;
    margin-bottom: 0;
  }

  .shrt-c-title {
    display: none;
  }

  .shrt-courses-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    font-size: 16px;
    padding-bottom: 1em;
  }

  .shrt-img-container {
    position: absolute;
    /* height: 100%; */
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    filter: brightness(25%) grayscale(40%);
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    border-radius: 0.5em;
  }

  .shrt-courses-info h2 {
    margin-bottom: 0;
    font-size: 24px;
    text-align: center;
    color: white;
  }

  .shrt-courses-info p {
    text-align: center;
    margin-top: 0.6rem;
    margin-left: 0.6rem;
    margin-right: 0.6rem;
    color: white;
  }

  .line {
    width: 10em;
    font-family: 16px;
    padding: 0.1em;
    background-color: white;
    margin: 0 auto;
  }

  .ico-n-txt {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    gap: 0.5em;
  }

  .ico-n-txt img {
    stroke: rgb(181, 127, 27);
  }

  .ico-n-txt h2,
  .p-col p {
    text-align: left;
    color: white;
  }

  .p-col {
    max-width: 300px;
  }

  .shrt-courses-info h3 {
    text-align: center;
  }

  .programme-cols {
    font-size: 16px;
    padding: 2em;
    z-index: 1;
  }

  .reg-btn {
    background-color: white;
    font-size: 16px;
    padding: 0.7em;
    border-radius: 0.5em;
    z-index: 1;
  }

  .reg-btn:hover {
    background-color: rgb(117, 85, 26);
    transition: 0.5s;
  }

  .reg-btn a {
    font-weight: 700;
    text-align: center;
  }

  .reg-btn a:hover {
    color: white;
    transition: 0.5s;
  }

  .short-courses-ls {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    font-size: 16px;
    gap: 1em;
    
  }

  .course-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.139) 0px 5px 15px;
    font-size: 16px;
    flex: 1;
    max-width: 300px;
    margin: 0 auto;
  }

  .course-i-img-container {
    flex: 1.5;
    flex-shrink: 0;
  }

  .course-item-img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
  }

  .item-txt-container {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    padding: 1em;
    flex: 1;
  }

  .item-title h2,
  .item-info p {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
  }
  .item-title h2 {
    font-size: 1.1em;
    margin-bottom: 0.6em;
  }
  .item-title {
    flex: 1;
  }
  .item-info {
    flex: 2;
  }
}


/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  main {
    margin-top: -7rem;
  }

  /* Hero Section */

  .hero-text {
    position: absolute;
    top: 13%;
    left: 5%;
  }

  .hero-text h1 {
    font-size: 2.2rem;
    color: white;
    margin-bottom: 0;
  }

  .hero-text p {
    margin-top: 0;
    font-size: 1.5rem;
    color: white;
  }

  video {
    width: 100%;
    height: 30%;
    object-fit: contain;
    filter: grayscale(50%) brightness(40%);
  }

  .programmes {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    gap: 1.5rem;
  }

  .programe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-size: 16px;
    padding: 0.5em;
    border-radius: 1em;
    max-width: 586px;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.139) 0px 5px 15px;
    min-width: 150px;
  }

  .p-info p {
    color: black;
    text-align: center;
    margin-top: 0;
    font-weight: normal;
    margin-bottom: 0;
    font-size: 12px;
  }

  .p-info {
    font-size: 11px;
    padding: 0.4em;
  }

  .p-title {
    font-size: 13px;
    padding: 0.5em;
  }

  .p-title h2 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
  }

  .short-courses {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    font-size: 16px;
    border-radius: 0.4em;
    background-color: rgb(47, 47, 173);
  }

  .shrt-c-title h2 {
    color: white;
    margin-bottom: 0;
  }

  .shrt-c-title p {
    color: white;
    text-align: center;
  }

  .shrt-c-title {
    font-size: 16px;
    padding: 1em;
    z-index: 1;
  }

  .line {
    width: 10em;
    font-family: 16px;
    padding: 0.1em;
    background-color: white;
    margin: 0 auto;
  }

  .shrt-courses-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    overflow: hidden;
    z-index: 2;
    position: relative;
    font-size: 16px;
    padding-bottom: 1em;
  }

  .programme-cols {
    z-index: 1;
  }

  .shrt-img-container {
    position: absolute;
    /* height: 100%; */
    bottom: 0;
    top: 0;
    z-index: 1;
    filter: brightness(25%) grayscale(40%);
    display: flex;
    justify-content: space-around;
  }

  .shrt-img-container img {
    width: 100%;
    object-fit: cover;
  }

  .shrt-courses-info h2 {
    margin-bottom: 0;
    font-size: 24px;
    text-align: center;
    color: white;
  }

  .shrt-courses-info p {
    text-align: center;
    margin-top: 0.6rem;
    margin-left: 0.6rem;
    margin-right: 0.6rem;
    color: white;
  }

  .ico-n-txt {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    gap: 0.5em;
  }

  .ico-n-txt h2,
  .p-col p {
    text-align: left;
    color: white;
  }
  .shrt-courses-info h3 {
    text-align: center;
  }

  .reg-btn {
    background-color: white;
    font-size: 16px;
    padding: 0.7em;
    margin-left: 0.7em;
    border-radius: 0.5em;
    z-index: 1;
  }

  .reg-btn:hover {
    background-color: rgb(117, 85, 26);
    transition: 0.5s;
  }

  .reg-btn a {
    font-weight: 700;
    text-align: center;
  }

  .reg-btn a:hover {
    color: white;
    transition: 0.5s;
  }

  .p-col {
    font-size: 16px;
    padding: 1em;
  }

  .short-courses-ls {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .course-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.139) 0px 5px 15px;
    font-size: 16px;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    flex: 1;
  }

  .course-i-img-container {
    flex: 1.5;
    flex-shrink: 0;
  }

  .course-item-img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
  }

  .item-txt-container {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    padding: 1em;
    flex: 1;
  }

  .item-title h2,
  .item-info p {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
  }
  .item-title h2 {
    font-size: 1.1em;
    margin-bottom: 0.6em;
  }
  .item-title {
    flex: 1;
  }
  .item-info {
    flex: 2;
  }
}

/*Desktop*/
@media only screen and (min-width: 1024px) {
  main {
    margin-top: -15rem;
  }
  /* Hero Section */
  .hero {
    margin-top: 1rem;
  }

  .hero-video {
    position: relative;
  }

  video {
    width: 100%;
    height: 10%;
    object-fit: cover;
    filter: grayscale(50%) brightness(40%);
    border-radius: 2rem;
  }

  .hero-text {
    position: absolute;
    top: 19%;
    left: 5%;
  }

  .hero-text h1 {
    font-size: 3rem;
    color: white;
    margin-bottom: 0;
  }

  .hero-text p {
    margin-top: 0;
    font-size: 1.5rem;
    color: white;
  }

  .programmes {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    gap: 1.5rem;
  }

  .programe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-size: 16px;
    padding-bottom: 1em;
    padding-top: 1em;
    flex: 1;
    border-radius: 1em;
    max-width: 586px;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.139) 0px 5px 15px;
    transition: all 0.2s ease-out;
    transform: scale(1);
    cursor: pointer;
  }

  .programe:hover {
    transform: scale(1.05);
    transition: all 0.2s ease-in;
  }

  .p-info p {
    color: black;
    text-align: center;
    margin-top: 0;
    font-weight: normal;
    margin-bottom: 0;
    font-size: 13px;
  }

  .p-info {
    font-size: 16px;
    padding: 0.9em;
    flex: 1;
  }

  .p-title {
    font-size: 13px;
    padding: 0.5em;
    flex: 1;
    display: flex;
    align-items: center;
  }

  .p-title h2 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
  }

  .short-courses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    font-size: 16px;
    border-radius: 0.4em;
    background-color: white;
  }

  .shrt-courses-info h2 {
    margin-bottom: 0;
    font-size: 24px;
    text-align: center;
  }

  .shrt-courses-info p {
    text-align: center;
    margin-top: 0.6rem;
  }

  .shrt-courses-info h3 {
    text-align: center;
  }

  .shrt-c-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    font-size: 16px;
    z-index: 1;
  }

  .shrt-c-title p {
    color: white;
    text-align: center;
    margin-top: 0;
  }

  .shrt-courses-info .line {
    background-color: rgb(117, 85, 26);
    margin: 0 auto;
  }

  .line {
    width: 10em;
    font-family: 16px;
    padding: 0.1em;
    background-color: white;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .shrt-c-title h2 {
    text-align: center;
    margin-bottom: 0;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
  }

  .shrt-courses-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    position: relative;
    overflow: hidden;
  }

  .shrt-img-container {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    filter: brightness(25%) grayscale(40%);
  }

  .shrt-img-container img {
    width: 100%;
  }

  .programme-cols {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 16px;
    margin-top: 1.5em;
    padding: 0.5em;
    margin-bottom: 2em;
    z-index: 1;
  }

  .p-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding: 0.5em;
  }

  .ico-n-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ico-n-txt h2,
  .p-col p {
    text-align: center;
    color: white;
  }

  .reg-btn {
    margin: 0 auto;
    background-color: white;
    font-size: 16px;
    padding: 0.7em;
    border-radius: 0.5em;
    z-index: 1;
    transition: all 0.2s ease-out;
    transform: scale(1);
  }

  .reg-btn:hover {
    background-color: rgb(117, 85, 26);
    transition: 0.5s;
    transform: scale(1.05);
  }

  .reg-btn a {
    font-weight: 700;
  }

  .reg-btn a:hover {
    color: white;
    transition: 0.5s;
  }

  .short-courses-ls {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .course-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.139) 0px 5px 15px;
    font-size: 16px;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    flex: 1;
    transition: all 0.2s ease-out;
    transform: scale(1);
    cursor: pointer;
  }

  .course-item:hover {
    transform: scale(1.05);
    transition: all 0.2s ease-in;
    overflow: hidden;
  }

  .course-i-img-container {
    flex: 1.5;
    flex-shrink: 0;
  }

  .course-item-img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
  }

  .item-txt-container {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    padding: 1em;
    flex: 1;
  }

  .item-title h2,
  .item-info p {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
  }
  .item-title h2 {
    font-size: 1.1em;
    margin-bottom: 0.6em;
  }
  .item-title {
    flex: 1;
  }
  .item-info {
    flex: 2;
  }
}
